@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --green-theme: #7ac751;
  --grey-theme: #555555;
  --red-theme: #ff6868;
  --blue-theme: #00b7f1;
  --gray-font: #e3e3e3;
  --grey-divider: #bdbcbc;
}

body {
  margin: auto;
  width: 100%;

  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}

/* header section start */

header {
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  z-index: 3400;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
/*header line-one */
header .header-line-one {
  width: 100%;
  height: 50px;
  background-color: var(--green-theme);
  color: white;
}

header .header-line-one .container,
header .header-line-two .container {
  height: 50px;
  display: flex; /* disposition des enfants*/
  flex-direction: row; /* horizontal*/
  justify-content: space-between; /* séparer*/
  align-items: center;
}

header .header-line-one .container .login-logout {
  width: 20%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-line-one .container .login-logout img {
  width: 10px;
  height: 7px;
}
header .header-line-one .container .login-logout .vertical-bar {
  width: 2px;
  height: 20px;
  background-color: white;
}

/*header line - one end */

/* header line two */
header .header-line-two {
  width: 100%;
  height: 50px;
  background-color: white;
}
header .header-line-two .container .logo-name,
header .header-line-two .container .bag-notif-profil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 8%;
}

header .header-line-two .container .bag-notif-profil img:hover {
  color: var(--green-theme);
}

header .header-line-two .container .search-bar-form {
  width: 50%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .header-line-two .container .search-bar-form input {
  width: 90%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid var(--blue-theme);
  float: left;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
header .header-line-two .container .search-bar-form button {
  width: 10%;
  padding: 10px;
  font-size: 17px;
  background-color: #7ac751;
  color: white;
  border: 1px solid var(--green-theme);
  border-left: none;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* header line-two end */

/*header line-three start */

header .header-line-three {
  width: 100%;
  height: 50px;
  background-color: white;
}
header .header-line-three .container .button-all-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  background-color: #7ac751;
  /* padding-left: 25px;
    padding-right: 25px;*/
  color: white;
}
header .header-line-three .container .button-all-collection img {
  margin-left: 20px;
}
header .header-line-three .container .button-all-collection p {
  margin-right: 20px;
}

header .header-line-three .container .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-right: 21rem;
}
header .header-line-three .container .navbar a {
  text-decoration: none;
  color: black;
}
header .header-line-three .container .navbar a:hover {
  color: var(--green-theme);
  letter-spacing: 2px;
}

/* header section end  */
.home {
  margin-top: 9.5rem;
}

section {
  width: 100%;
  background-color: white;
}
/* home section start */
.home .container,
.shop .container {
  display: flex;
  flex-direction: column;

  /* height: 1500px;*/
}

.home .container .container-home-one {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .container .container-home-one .nav-home {
  width: 18%;
  height: 600px;
  background-color: var(--gray-font);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* padding-top: 50px;*/
}
.home .container .container-home-one .nav-home a {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid var(--grey-divider);
}
.home .container .container-home-one .nav-home a:last-child {
  border-bottom: none;
}

.home .container .container-home-one .nav-home a:hover {
  background-color: var(--green-theme);
  color: white;
  letter-spacing: 3px;
}

.home .container .container-home-one .slide-home {
  width: 82%;
  height: 600px;
  background-color: red;
}

.home .container .container-home-two {
  width: 100%;
  height: 100px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .container .container-home-two .box {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home .container .container-home-two .box a {
  width: 70%;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
}

.home .container .container-home-two .box a span {
  font-weight: 300;
  font-size: 0.8rem;
}

.home .container .container-home-two .box img {
  width: 27%;
  height: 50px;
}
.home .container .container-home-three {
  width: 100%;
  height: 500px;
  background: #555555;
}
/*===== shop section start =======*/
.shop {
  margin-top: 19px;
}
.shop .container .trending,
.shop .container .special-offer,
.shop .container .our-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shop .container .trending {
  width: 100%;
  height: 55rem;
}
.shop-title {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  font-family: " Roboto ";
}
.shop-nav {
  width: 30%;
  height: 6%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop .container .our-products .shop-nav {
  width: 40%;
}

.shop-nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.shop-nav a:nth-child(1),
.shop-nav a:hover {
  color: var(--green-theme);
}

.container-grid {
  width: 100%;
  height: 80rem;
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto auto auto;
}
.container-grid .item-box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #e3e3e3;
  text-align: center;
  padding: 30px 20px;
}

.shop .container .special-offer {
  width: 100%;
  height: 50vh;
  margin-top: 2rem;
}
.shop .container .special-offer .container-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shop .container .special-offer .container-grid .item-box {
  width: 48%;
  height: 15rem;
}

.shop .container .our-products {
  width: 100%;
  height: 100vh;
  margin-top: 0.5rem;
}
/*----- tesstiiti section------*/

#testimonial {
  height: 80vh;
}
#testimonial .container,
#blog .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#testimonial .container .testimonial-box {
  width: 100%;
  height: 60vh;
  background-color: black;
}
/** ------blog section -------**/
#blog {
  width: 100%;
  height: 90vh;
  margin-top: 1rem;
  background-color: darkgreen;
}
#blog .container .container-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  padding: 10px;
}

#blog .container .container-grid .item-box {
  height: 500px;
  width: 90%;
}
